@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'FiraCode Nerd Font Mono', 'Roboto Mono', monospace;
}

body {
    background-color: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
}

p {
    margin: 0px;
}

input {
    border: 2px solid var(--ctp-mocha-surface1);
    background-color: var(--ctp-mocha-surface0);
    color: var(--ctp-mocha-text);
}

input:hover {
    border-color: var(--ctp-mocha-surface2);
}

select {
    border: 2px solid var(--ctp-mocha-surface1);
    background-color: var(--ctp-mocha-surface0);
    color: var(--ctp-mocha-text);
}

select:hover {
    border-color: var(--ctp-mocha-surface2);
}

section.layout {
    width: 100vw;
    height: 100vh;

    max-width: 100vw;
    max-height: 100vh;

    min-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid:
        "top top top" auto
        "left map right" 1fr
        "left bottom right" 8em
        / 25% 50% 25%;

    transition: grid .2s;
}

section.layout.no-console {
    grid:
        "top top top" auto
        "left map right" 1fr
        "left map right" 16em
        / 25% 50% 25%;

    transition: grid .2s;
}

section.layout.no-console .bottom {
    display: none;
} 

button.mode_btn.active span {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.hidden {
    display: none !important;
}

button.mode_btn.active * {
    color: var(--ctp-mocha-lavender) !important;
}

div.tabs {
    width: 100%;
    display: flex;
}

div.tabs button {
    display: inline-block;
    flex-grow: 1;
    border-style: none;
    background-color: var(--ctp-mocha-mantle);
    color: var(--ctp-mocha-subtext0);

    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: var(--ctp-mocha-mantle);
    padding: 6px 0px;
}

div.tabs button:hover {
    background-color: var(--ctp-mocha-surface0);
    color: var(--ctp-mocha-text);
}

div.tabs button:active {
    background-color: var(--ctp-mocha-surface1);
    color: var(--ctp-mocha-text);
}

div.tabs button.active {
    background-color: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
}

div.tabs button:last-child {
    border-right-style: none;
}

div.tab_content {
    margin: 8px;
}

.key_value {
    margin-bottom: 16px;
}

.key_value p {
    width: min-content;
}

.key_value input {
    float: right;
    width: 50%;
    box-sizing: content-box;
}

.key_value select {
    float: right;
    width: 50%;
    padding: 1px 2px;
    box-sizing: content-box;
}

.window {
    border-style: solid;
    border-width: 2px;
    border-color: var(--ctp-mocha-mantle);
}

.menuitem {
    background-color: transparent;
    color: var(--ctp-mocha-subtext0);
    border-style: none;
    height: 32px;
    display: inline-block;
    margin: 4px;
    margin-right: 0px;
}

span {
    color: var(--ctp-mocha-subtext0);
}

.menuitem.can_hover * {
    color: var(--ctp-mocha-text);
}

button.menuitem.can_hover:hover * {
    color: var(--ctp-mocha-lavender);
}

button.menuitem.can_hover:active * {
    color: var(--ctp-mocha-blue);
}

.no-select {
    user-select: unset;
}

.top {
    grid-area: top;
    overflow: hidden;
}

.top div {
    display: inline-block;
}

.topleft {
    grid-area: topleft;
}

.topright {
    grid-area: topright;
}

.left {
    grid-area: left;
}

.map {
    grid-area: map;
}

.right {
    grid-area: right;
}

.bottom {
    grid-area: bottom;
    overflow: hidden;
    max-height: 16em;
}

table {
    width: 100%;
}

td input {
    width: 100%;
}

#hierarchy {
    overflow: scroll;
    max-height: calc(100vh - 124px);
}

#console {
    overflow: scroll;
    margin: 16px 16px;
}

.bottom.window {
    overflow: scroll;
}

.cornor {
    background-color: var(--ctp-mocha-mantle);
}

.bi {
    font-size: larger;
}

#right_menu .bi {
    font-size: x-large;
}

#top.hide_text span.text {
    display: none;
}

#properties_controls button.btn {
    display: inline-block;
    flex-grow: 1;
    margin: 0px 4px;
}

#properties_controls {
    width: 100%;
    display: flex;
}

button.btn {
    width: 100%;
    padding: .4em;
    border: 2px solid var(--ctp-mocha-surface1);
    background-color: var(--ctp-mocha-surface0);
    color: var(--ctp-mocha-text);
}

button.btn:hover {
    border-color: var(--ctp-mocha-surface2);
}

button.btn:active {
    border-color: var(--ctp-mocha-surface3);
}

div.warning {
    margin-left: auto;
    margin-right: auto;
    border-left-style: solid;
    border-left-width: 4px;
    padding: 8px;
    border-left-color: var(--ctp-mocha-blue);
    background-color: var(--ctp-mocha-lavender);
    color: var(--ctp-mocha-crust);
    max-width: 30em;
}

div.warning * {
    display: inline-block;
}

hr {
    color: var(--ctp-mocha-surface0);
}

div.line_title {
    cursor: pointer;
}

div.line_title:hover {
    background-color: var(--ctp-mocha-surface0);
}

div.line_title:active {
    background-color: var(--ctp-mocha-surface1);
}

div.line.collapsed div#line_1_nodes {
    display: none;
}

section.too-small {
    display: none;
}

@media only screen and (max-width: 1125px) {
    section.layout {
        grid:
            "top top" auto
            "left map" 1fr
            "left bottom" 8em
            / 25% 50%;

        transition: grid .2s;
    }

    .right {
        display: none;
    }
}

@media only screen and (max-height: 620px) {
    section.layout {
        grid:
            "top top top" auto
            "left map right" 1fr
            "left bottom right" 8em
            / 25% 50% 25%;

        transition: grid .2s;
    }
}

@media only screen and (max-height: 410px) {
    section.layout {
        grid:
            "top top top" auto
            "left map right" 1fr
            "left map right" 8em
            / 25% 50% 25%;

        transition: grid .2s;
    }

    .bottom {
        display: none;
    }
}

p.h:hover {
    text-decoration: underline dashed;
    text-underline-offset: 4px;
}

p.h:active {
    text-decoration: underline solid;
    text-underline-offset: 4px;
}

p.h.active {
    text-decoration: underline solid;
    text-underline-offset: 4px;
}

p.h.path {
    margin-left: 12px;
}

p.h.node {
    margin-left: 24px;
}

.top.window {
    background-color: var(--ctp-mocha-mantle);
}

.leaflet-top.leaflet-left {
    display: none !important;
}

.leaflet-bottom.leaflet-right {
    display: none !important;
}

p.h .right {
    display: none;
}

p.h.active .right {
    display: inline;
}

.right {
    float: right;
}

a.right i:hover {
    cursor: pointer;
    color: var(--ctp-mocha-lavender);
}

a.right i.bi-trash:hover {
    color: var(--ctp-mocha-red) !important;
}