@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --text: rgb(250, 250, 250);
    --background: rgba(1, 1, 1, .5);
    --background-hover: rgba(25, 25, 25, .5);
    --background-active: rgba(50, 50, 50, .5);
}

@media (prefers-color-scheme: light) {
    :root {
        --text: rgb(5, 5, 5);
        --background: rgba(250, 250, 250, .5);
        --background-hover: rgba(245, 245, 245, .5);
        --background-active: rgba(240, 240, 240, .5);
    }
}

@media screen and (orientation:portrait) {
    .citysearch.window {
        max-width: 80vw !important;
    }

    #citysearch_input {
        width: calc(80vw - 1em) !important;
    }

    #variant_container {
        top: unset !important;
        bottom: 45px !important;
        left: 50vw !important;
        transform: translateX(-50%) !important;
    }

    .variantsel.window {
        max-width: 70vw !important;
        width: 70vw !important;
    }

    .mobile_hide {
        display: none;
        visibility: hidden;
    }

    .mobile {
        display: block !important;
        visibility: visible !important;
    }
}

body {
    margin: 0px;
}

#map {
    height: 100vh;
}

.container {
    display: block;
    position: fixed;
    width: fit-content;
    height: fit-content;
    z-index: 400;
}

.citysearch.window {
    max-width: 25vw;
}

.variantsel.window {
    max-width: 35vw;
    text-align: center;
}

.window {
    color: var(--text);
    font-family: 'FiraCode Nerd Font Mono', 'Roboto Mono', monospace;
    border-width: 0px;
    background-color: var(--background);
    padding: .5em;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

#citysearch_results {
    max-height: 40vh;
    overflow: scroll;
}

#citysearch_input {
    font-family: 'FiraCode Nerd Font Mono', 'Roboto Mono', monospace;
    margin: 0px;
    background-color: var(--background);
    color: var(--text);
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--text);
    margin-bottom: .2em;
    padding: 4px;

    width: calc(25vw - 1em);
}

#variant_container {
    top: 15px;
    left: 50vw;
    transform: translateX(-50%);
}

.ct {
    text-align: center;
}

.hvr {
    display: none;
}

.hvrc:hover>.hvr {
    display: unset;
}

.active>.hvr {
    display: unset;
}

.hvrc:hover {
    cursor: pointer;
}

.leaflet-control-attribution {
    background-color: var(--background) !important;
    color: var(--text);
    backdrop-filter: blur(5px);
}

.leaflet-control-attribution a {
    color: var(--text);
}

.active {
    background-color: var(--background);
}

.hide {
    display: none;
    visibility: hidden;
}

.mobile {
    display: none;
    visibility: hidden;
}

.leaflet-container {
    font-family: 'FiraCode Nerd Font Mono', 'Roboto Mono', monospace !important;
}

.leaflet-bar a {
    background-color: var(--background);
    color: var(--text);
    border-bottom: none;

    backdrop-filter: blur(5px);
}

.leaflet-bar a:hover {
    background-color: var(--background-hover);
}

.leaflet-bar a:active {
    background-color: var(--background-active);
}

.leaflet-touch .leaflet-bar {
    border: none;
}

button {
    font-family: 'FiraCode Nerd Font Mono', 'Roboto Mono', monospace;
    border: none;
    color: var(--text);
    background-color: var(--background);
    padding: 6px;
}

button:hover {
    background-color: var(--background-hover);
}

button:active {
    background-color: var(--background-active);
}

select {
    font-family: 'FiraCode Nerd Font Mono', 'Roboto Mono', monospace;
    border: none;
    color: var(--text);
    background-color: var(--background);
    padding: 6px;
}

select:hover {
    background-color: var(--background-hover);
}

select:active {
    background-color: var(--background-active);
}